.ant-card-body {
    padding: 8px;
}

.ant-card {
    padding: 0;
}

.ant-card-head {
    padding: 0 16px;
}

.ant-card-head-title {
    padding: 13px 0 4px;
}

.ant-card-meta-title {
    font-size: 8px;
}

.card-options {
    padding: 0 16px !important;
    font-size: 12px !important;
    height: 26px !important;
    line-height: 26px !important;
    width: 150px !important;
    font-family: sanFranciscoMedium;
}

.card-icons {
    margin: auto 3px;
}

.card-avatar {
    margin-right: 10px;
}

.card-avatar-bg {
    background-image: linear-gradient(#2e68ff, #00c7ff);
}

.card-head-cont {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.display-flex {
    display: flex;
}

.card-option-color {
    color: #545e7c;
}

.card-option-cont {
    border-right: 0;
}

.card-option-icon {
    margin: auto;
}

.card-title-cont {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.cd-card-titlle {
    color: #0A1F44;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}

.cd-card-meta {
    padding: 0;
}

.card-subtitle {
    color: #8A94A6;
    line-height: 16px;
    height: 16px;
    font-size: 12px;
}

.candidate-card {
    border-radius: 4px;
    margin-bottom: 16px;
    border-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.candidate-card-meta {
    color: #8A94A6;
    font-size: 8px;
    line-height: 16px;
}

.meta-cont {
    margin-top: 8px;
    display: flex;
}