.ant-popover-title {
    border-bottom: 2px solid #e8e8e8;
    padding: 8px 16px;
}

.ant-popover-inner-content {
    padding: 0 6px;
}

.ant-menu-item-active {
    background-color: #f4f5fa;
}

.column-card-count {
    background-color: #697398;
    color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 0;
    line-height: 23px;
    font-size: 15px;
    box-shadow: none;
}

.sort-by-popover {
    color: #858da2;
    line-height: 2;
    font-family: sanFranciscoMedium;
    font-size: 12px;
}

.sort-by-popover-option {
    color: #545e7c;
    font-family: sanFranciscoMedium;
}

.sort-by-icon {
    font-size: inherit;
    margin-right: 8px;
}

.column-drag-icon {
    font-size: inherit;
}

.border-right-0 {
    border-right: 0;
}

.column-title {
    font-size: 14px;
    line-height: 20px;
    font-family: sanFranciscoMedium;
}

.column-edit-icon {
    font-size: 16px; 
    margin-left: 8px;
}

