.header-text {
    color: #4b5ba0 !important;
    text-align: left !important;
    font-weight: 500 !important;
}

.header-subtitle {
    color: #8b92a6;
    font-family: sanFranciscoMedium;
    font-size: 14px;
}

.header-button {
    width: 157px;
    height: 42px;
    font-size: 14px
}

.header-container {
    flex-grow: 40;
}

.header-button-container {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
}

.modal-as-title {
    font-size: 24px;
    color: #0A1F44;
    font-weight: 500;
    line-height: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.font-family-mediumn {
    font-family: sanFranciscoMedium;
    color: #8A94A6;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
}

.modal-ad-title-color {
    color: #545e7c;
}

.margin-top-5 {
    margin-top: 5px;
}

.modal-ad-position {
    margin-top: 5px;
    width: 100%;
}

.modal-ad-position-option {
    font-size: 16px;
    padding-top: 8px;
}

.modal-ad-preview {
    margin-top: 15px;
}

.w-100 {
    width: 100%;
}

.modal-ad-radio {
    text-align: right;
    padding-right: 0;
}

.width-120p {
    width: 119px;
    height: 42px;
}

.modal-ad-input {
    width: 265px;
    height: 42px;
}

