.ant-popover-inner-content {
    padding: 0 6px;
}

.stage-filter {
    padding: 0 8px !important;
    font-size: 12px !important;
    height: 30px !important;
    line-height: 30px !important;
    width: 140px !important;
}

.sort-filter {
    font-size: 13px;
    color: rgb(137, 144, 165);
    padding: 0px 16px;
    width: 300px;
    font-weight: 600;
    text-align: left;
    display: flex;
}

.filter-icon {
    margin: auto 0 auto auto !important;
}


 /* Customize the label (the container) */
 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 3px solid #8990a5;
    border-radius: 6px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: transparent;
    border: 3px solid #8990a5;
    border-radius: 6px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: transparent;
    border: 3px solid #8990a5;
    border-radius: 6px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #8990a5;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 

  .sort-filter-name {
      margin-left: 10px;
  }


  /* Customize the label (the container) */
 .filter-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 8px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #697398;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.filter-container:hover input ~ .checkmark2 {
  background-color: transparent;
  border: 2px solid #697398;
  border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.filter-container input:checked ~ .checkmark2 {
  background-color: #697398;
  border: 2px solid #697398;
  border-radius: 3px;
}

/* Create the filter-checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the filter-checkmark when checked */
.filter-container input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the filter-checkmark/indicator */
.filter-container .checkmark2:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
