.header-text {
	height: 32px;
	width: 352px;
	color: #0A1F44;
	font-family: "sanFranciscoMedium";
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 32px;
	text-align: center;
}

.already-have-an-acco {
	height: 16px;
	/* width: 162px; */
	color: #8A94A6;
	font-family: "sanFranciscoMedium";
	font-size: 13px;
	font-weight: 500;
    line-height: 16px;
    margin-top: 10px;
}

.background-colour {
	height: 48px;
	width: 304px;
}

.center-input {
    margin-bottom: 25px;
}

.login-button {
    background-color: #4200ff;
    color: #fff;
    height: 48px;
    width: 144px;
	border-radius: 5px;
	margin-right: 24px;
	font-family: "sanFranciscoMedium";
}

.have-account {
	color: #4200ff;
	margin-left: 4px;
	border: none;;
	background-color: transparent;
}

.forgot-password {
	margin-left: 24px;
	color: #4200ff;
	line-height: 48px;
	font-family: "sanFranciscoMedium";
}