.ant-input {
    /* background-color: #f1f1f4 !important; */
    border: 1px solid #f1f1f4 !important;
    color: #171d48;
}

::-webkit-input-placeholder {
    color: #161a47;
}
:-moz-placeholder {
    color: #161a47;
    opacity: 1;
}
::-moz-placeholder {
    color: #161a47;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #161a47;
}
::-ms-input-placeholder {
    color: #161a47;
}
::placeholder {
    color: #161a47;
}

.header-text {
    color: #4b5ba0 !important;
    text-align: left !important;
    font-weight: 500 !important;
}

.header-button {
    width: 157px;
    height: 42px;
    font-size: 14px
}

.empty-opening-wrapper {
    font-weight: 500 !important;
    color: #4b5ba0 !important;
    margin: 154px auto 35px;
}

.card-header-text {
    font-size: 18px;
    line-height: 20px;
    color: #53627C;
    height: 20px;
    margin-bottom: 7px;
}

.card-subtitle-text {
    font-size: 14px;
    line-height: 16px;
    color: #8A94A6;
    height: 16px;
}

.card-candidate-count {
    color: #4b5ba0;
    font-size: 22px;
    font-family: sanFranciscoMedium;
}

.card-stage-name {
    font-size: 14px;
    color: #8A94A6;
}

.header-container {
    flex-grow: 40;
}

.header-button-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.display-flex {
    display: flex;
}

.stage-list {
    display: flex;
    padding: 0 16px;
}

.stage-list-data {
    margin: auto;
    top: 50%;
    text-align: center;
}

.btn-list {
    margin: auto 0;
    display: flex;
}

.margin-right-30 {
    margin-right: 30px;
}

.coordinator-list {
    display: flex;
    justify-content: center;
}

.coordinator-avatar {
    margin-right: 5px;
    background-color: #4b5ba0;
}

.coordinator-popover {
    padding: 20px 12px;
    width: 320px;
}

.coordinator-popover-search {
    border-radius: 8px;
}

.coordinator-popover-search input {
    background-color: #f1f1f4;
}

.coordinator-popover-search svg {
    color: #202851;
}

.coordinator-list-result {
    margin-top: 25px;
}

.coordinator-list-result-avatar {
    margin: auto 5px;
    background-color: #4b5ba0;
}

.coordinator-result-name {
    margin: auto 15px;
}

.coordinator-result-btn {
    border: none;
    box-shadow: none;
    margin-left: auto;
}

