@font-face {
    font-family: "sanFrancisco";
    font-style: normal;
    src:
    local('SF-Pro-Text-Regular'),
    url(./assets/Font/SF-Pro-Text/SF-Pro-Text-Regular.otf) format('opentype');
}

@font-face {
    font-family: "sanFranciscoMedium";
    font-style: normal;
    src:
    local('SF-Pro-Text-Medium'),
    url(./assets/Font/SF-Pro-Text/SF-Pro-Text-Medium.otf) format('opentype');
}

body {
    font-family: sanFrancisco;
    font-size: 15px;
}

h2 {
    font-weight: 600;
}